
body, .perfil, .index {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0 auto;
}

.index {
    width: 1100px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.mainContainer .photo {
    width: 250px;
    border-top-left-radius: 50px;
    flex-shrink: 0;
}

.mainContainer .infoContainer {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    flex: 1;
}

.titlename {
    font-size: 2.125rem;
    color: orange;
    margin-bottom: 5px;
}

.description {
    font-style: italic;
    font-family: serif;
    margin-top: 3px;
}

.preferenceContainer {
    display: flex;
    gap: 20px;
}

.preferenceList {
    list-style: none;
    padding: 0;
    font-size: 0.95rem;
}

.preferenceList li {
    margin-bottom: 4px;
}

a, a:link {
    color: orange;
    text-decoration: none;
}
a:visited {
    color: red;
}

header {
    background-color: #3597db;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 20px;
}

nav form {
    display: flex;
    gap: 10px;
    margin-left: 60px;
    margin-right: 10px;
}

nav input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

nav input[type="text"]:focus {
    border-color: gray;
    box-shadow: 0 0 5px gray;
    outline: none;
}

nav button {
    padding: 8px 16px;
    background-color: lightgray;
    color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button:focus {
    background-color: black;
    outline: 2px dashed gray;
}

.person-index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
}

.personContainer {
    background-color: #e6fff3;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    will-change: transform;
}

.personContainer img {
    width: 160px;
    height: 200px;
}

.personContainer:hover {
    background-color: #99c5dd;
    transform: scale(1.05) rotate(2deg);
}

.personContainer:hover img,
.personContainer:hover .person-name {
    transform: scale(1.05);
}


.person-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #3498db;
}

footer {
    font-size: 0.875rem;
    background-color: #3597db;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #2980b9;
}

.notFoundMessage {
    text-align: center;
    font-size: 2rem;
    color: #3498db;
}
